<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id = "alien" class = "org.sudheendra.Alien" scope="prototype"> </bean>-->
    <bean id = "alien" class = "org.sudheendra.Alien">
    <property name="age" value="21"> </property>
    <property name="lap" ref="laptop"> </property>
    </bean>
    <bean id = "laptop" class = "org.sudheendra.Laptop"> </bean>

</beans>